<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Nouvelle inscription,</h1>
    <p>Vous avez reçu une nouvelle demande d’inscription au site : <a href="http://www.ensemblepourmonemploi.be">ensemblepourmonemploi.be</a></p>
	<p>Veuillez valider l’inscription en vous connectant <a href="http://www.ensemblepourmonemploi.be/admin/users">au panneau d'administration</a></p>
  </body>
</html>