<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Votre inscription a été validée !</h1>
    <p>Nous vous invitons à vous connecter dès à présent au site : <a href="http://www.ensemblepourmonemploi.be/users/sign_in">ensemblepourmonemploi.be</a></p>
  </body>
</html>