<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Votre inscription a été refusée</h1>
    <p>Bonjour, nous sommes désolés mais votre demande d’inscription a été refusée.</p>
	<p>Merci toutefois de votre intérêt.</p>
  </body>
</html>