<p align="">L’industrie est le moteur de l’économie et de la prospérité de nos régions. Pour se développer, 
	elle doit s’adapter sans cesse et rapidement aux défis qu’entraînent les mutations technologiques et les exigences des clients dans un contexte 
	international où la compétition est de mise. Relever ces défis exige la mobilisation et l’implication de chacun au sein de l’entreprise, du dirigeant à tous les membres du personnel.  
	Prendre conscience des réalités  qui ont un impact sur notre entreprise, c’est adapter notre comportement pour éviter d’affaiblir notre entreprise. 
	Car nous tenons tous à notre entreprise et à son développement. C’est la meilleure garantie pour notre emploi et celui de nos enfants.</p>
<p align="">La campagne « ensemblepourmonemploi.be » se déroulera en 2013. Elle propose un calendrier à utiliser largement, moyennant l’accord de la direction de l’entreprise. 
	Un thème sera présenté mensuellement (« la pensée du mois ») invitant chacun à réfléchir, partager et adopter durablement les attitudes appropriées.</p>
<% if user_signed_in? %>

<% end %>

<% if !user_signed_in? %>
	<p align="center"><a href="/users/sign_up" class="purple button_submit">S'inscrire</a><a href="/users/sign_in" class="purple button_submit">Se connecter?</a></p>
<% else %>
	<% if is_user_active == 0 %>
		<div id="error_explanation" class="alert-info"> Merci de votre intérêt à participer à la campagne « ensemblepourmonemploi.be ». L’accès et l’utilisation du calendrier et des visuels sont subordonnés à l’autorisation de la direction de votre entreprise ou de votre organisation. Nous traitons dès lors votre demande selon ces conditions et vous confirmons prochainement votre accès.</div>
	<% elsif is_user_active == 1  %>
		<p align="center"><a href="/calendars/new" class="purple button_submit">Créer mon calendrier</a></p>
	<% else %>	
		<div id="error_explanation" class="alert-error">Nous sommes désolés mais votre demande d’inscription a été refusée.</div>
	<% end %>

<p align="center"> Télécharger uniquement l'affiche</p>
<p align="center"> <%= link_to(image_tag('visu1_xsmall.jpg'), "/janvier_visu.pdf", :target => "_blank") %></p>
<br><br>
<% end %>	
