<p>
  <%= f.text_field :name %>
  <%= f.text_field :date %>
  
  <%= f.check_box :_destroy, :class => "reminput" %>
  <%= f.label :_destroy, "Supprimer", :class => "remevent checkbox inline" %>
</p>

