/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
*= require bootstrap-wysihtml5
 */
 
.te {border:1px solid #bbb; padding:0 1px 1px; font: normal 12px/20px sans-serif !important; }
.te iframe {border:none}
.teheader {height:31px; border-bottom:1px solid #bbb; background:url(header-bg.gif) repeat-x; padding-top:1px}
.teheader select {float:left; margin-top:5px}
.tefont {margin-left:12px}
.tesize {margin:0 3px}
.testyle {margin-right:12px}
.tedivider {float:left; width:1px; height:30px; background:#ccc}
.tecontrol {float:left; width:34px; height:30px; cursor:pointer; background-image:url(icons.png)}
.tecontrol:hover {background-color:#fff; background-position:30px 0}
.tefooter {height:32px; border-top:1px solid #bbb; background:#f5f5f5}
.toggle {float:left; background:url(icons.png) -34px 2px no-repeat; padding:9px 13px 0 31px; height:23px; border-right:1px solid #ccc; cursor:pointer; color:#666}
.toggle:hover {background-color:#fff}
.resize {float:right; height:32px; width:32px; background:url(resize.gif) 15px 15px no-repeat; cursor:s-resize}
#editor {font-family: Arial, Helvetica, sans-serif !important;}
 
 
#archive{
	
} 
 
#archive, #archive li{
	margin:0px;
	padding:0px;
	list-style:none;
	text-align: center;
} 

#archive li{
	display:inline-block;
	width:230px;
	margin:0px 15px;
} 

.lt-ie8 #archive li{
	zoom:1;
	display:inline;

} 

.actions{margin-top:10px;}

.actions a{
	color:#d34a00 !important;
	font-weight:bold;
}
 
 
 .notob{
 	position:absolute;
 	margin-top:0px;
 	margin-left:430px;
 }

a {
   outline: 0 !important;
}

li.dropdown{
	display:none !important;
}

.three img{
	border:5px #c1c1c1 solid;
	width:200px;
	margin-bottom: 10px;
}

p.adding a{
	display:block;
	background:#fff url(plus.jpg) top left repeat-y;
	padding-left:30px;
	line-height:21px;
	color:#d34a00 !important;
	font-weight:bold;
}

label.remevent{
	display:inline-block !important;
	background:#fff url(minus.jpg) top left repeat-y !important;
	padding-left:25px !important;
	line-height:21px !important;
	color:#72098c !important;
	font-weight:bold !important;
	height:21px !important;
	width:80px !important;
}

body{
background:#fff url(bgAll.jpg) top center repeat-y;
}

.lt-ie8 body{
background:#fff url(bgAll.jpg) top center repeat-y;
}

#wrapper{
	width:580px;
	margin:0px auto;
	color:#949494;
	margin-bottom:30px;
}

#main{
	background:#ffffff;
	-webkit-box-shadow:  0px 1px 4px 0px rgba(0, 0, 0, 0.6);
    box-shadow:  0px 1px 4px 0px rgba(0, 0, 0, 0.6);
    padding:20px 25px;  
}

.calendar #main{
	background:transparent;
	-webkit-box-shadow: none;
    box-shadow:  none;
    padding:0px;
}

.calendar #main .contenerCal{
	background:#ffffff;
	-webkit-box-shadow:  0px 1px 4px 0px rgba(0, 0, 0, 0.6);
    box-shadow:  0px 1px 4px 0px rgba(0, 0, 0, 0.6);
    padding:20px 25px;  
    margin-bottom:25px;
} 


.calendar #main .contenerCal label{
	padding-left:35px;
	font: bold 24px/45px 'Lato', sans-serif;
	text-transform:uppercase;
	vertical-align:baseline !important;
	display:block;
	height:35px;
}

.calendar #main .contenerCal.one label{
	background:#fff url(one.png) bottom left no-repeat;
}

.calendar #main .contenerCal.two label{
	background:#fff url(two.png) bottom left no-repeat;
}
.calendar #main .contenerCal.three label{
	background:#fff url(three.png) bottom left no-repeat;
}
.calendar #main .contenerCal.four label{
	background:#fff url(four.png) bottom left no-repeat;
}
.calendar #main .contenerCal.five label{
	background:#fff url(five.png) bottom left no-repeat;
}

.calendar #main .contenerCal.five select{
	width:70px;
}


.twoone, .twotwo{
   display: inline-block;
   width:250px;
   vertical-align:top;
}

.twotwo{

   width:262px;

}

.lt-ie8 .twoone,.lt-ie8  .twotwo{
	zoom:1;
   display: inline;
}

.twotwo{margin-left:15px;}

.twoone h3{
	background:#fff url(twoone.png) top left no-repeat;
}
.twotwo h3{
	background:#fff url(twotwo.png) top left no-repeat;
}

.twoone h3, .twotwo h3{
	padding-left:35px;
	font: normal 14px/1em 'Lato', sans-serif;
	text-transform:uppercase;
}

.twoone label{
	text-indent:-9999px;
	display:block !important;
	width:75px !important;
	height:51px !important;
	padding:0px !important;
	margin:0px !important;
}

label.janvier{	
	background:#fff url(1_xsmall.jpg) top left no-repeat !important;
}

label.fevrier{	
	background:#fff url(2_xsmall.jpg) top left no-repeat !important;
}

label.mars{	
	background:#fff url(3_xsmall.jpg) top left no-repeat !important;
}

label.avril{	
	background:#fff url(4_xsmall.jpg) top left no-repeat !important;
}

label.mai{	
	background:#fff url(5_xsmall.jpg) top left no-repeat !important;
}

.twoone input[type="radio"] {display:none;}

.twoone div.checked{ 
    background-color:#8604A6 !important;
    color:#fff;
}

 .thumber{
	border:1px #c1c1c1 solid;
	padding:2px;
	display:inline-block;
	margin:1px 0;
}

 .thumber span{
	display:block;
	text-align:center;
	font-weight:bold;
}

.twotwo img{
	display:block;
	/*border:2px #c1c1c1 solid;*/
}

.twoone img{
	border:5px #c1c1c1 solid;
}

.remevent{
	display:inline-block !important;
	background:none !important;
	padding:0px !important;
	margin:0px 0 0 5px !important;
	font: normal 12px/20px sans-serif !important;
	text-transform:none !important;
	width:100px !important;
}

.lt-ie8 .remevent{
	zoom:1 !important;
	display:inline !important;
    width:50px !important;
}


.reminput{
	margin:0px 0 0 10px !important;
}

/***************************************************************/
/* HEADER
/***************************************************************/


  header{
    width:100%;
    height:132px;
    padding-top:18px;
  }


/***************************************************************/
/* HEADER TOP MENU
/***************************************************************/
    
    #topLinks{
      
      font: 700 13px/28px 'Lato', sans-serif; 
    }
    
     header #topLinks ul, header #topLinks ul > li{
        margin:0px;
        padding:0px;
        list-style:none;
      }
         header #topLinks #toolsLinks{
         float:left;
         }
         
         header #topLinks #connectionLinks{
         float:right;
         margin-top:4px;
         }
      
     /* #toolsLinks li ,#toolsLinks li a{
      	display:inline;
     }*/

      #topLinks #connectionLinks > li{
        vertical-align:top;
        display:inline;
      }
      
       #topLinks ul.topLinker li > a{
       		font: 700 13px/12px 'Lato', sans-serif; 
       		color:#949494;
       	}
       
		 #topLinks ul.topLinker{
		 	display:inline;
		 	
		 }
       
       #topLinks ul.topLinker li.home  a{
        width:25px;
       	height:23px;
       	}
        
       #topLinks ul.topLinker > li {border-left:1px #dbdbdb solid; padding:3px 10px 0 13px;display:inline !important; }
       #topLinks ul.topLinker > li:first-child {border-left:none; padding-left:0px;}
      #topLinks ul.topLinker > li:last-child {padding-right:0px;}


header h1{
	margin-top:35px !important;
	text-transform:uppercase;
	border-bottom:1px #8604a6 dashed; 
	float:none;
	clear:both;
	/*width:300px;*/
	padding:0px;
	display:table;
	font: bold 26px/1em 'Lato', sans-serif;
	
}

.lt-ie8 header h1{

	width:410px;

	
}


#main h2{
	text-transform:uppercase;
	font: bold 26px/1em 'Lato', sans-serif;
	margin-bottom:20px;
}

#main label{
	font-weight:bold;
}

.checkbox{
	width:230px;
	padding-top:25px;
}

.checkbox label{
	float:right;
	font:normal 12px/1em sans-serif !important;
}

.button_submit{
	background:transparent url(button_off.png) top left no-repeat;
	border:0;
	font:bold 20px/1em  'Lato', sans-serif;
	text-transform:uppercase;
	color:#fff;
	width:321px !important;
	padding-top:18px;
	padding-bottom:32px;	
}

.button_submit:hover{
	background:transparent url(button_on.png) top left no-repeat;
}

a.button_submit{
	display:block;
	background:transparent url(button_off.png) top left no-repeat;
	border:0;
	font:bold 20px/1em  'Lato', sans-serif;
	text-transform:uppercase;
	color:#fff !important;
	width:321px !important;
	padding-top:18px;
	padding-bottom:32px;	
}

a.button_submit:hover{
	text-decoration:none;
}

/*********************************************/
/* FOOTER
/*********************************************/

.home footer{
	position:relative;
}

.home footer a {
width:95px;
display:block;
margin: 30px auto; 
}


.page footer a {
width:95px;
display:block;
text-align: right;
float:right;/*
margin-top:-75px;
margin-right:10px;*/
}


.calendar footer a {
width:95px;
display:block;
position:absolute;
top:200px;
margin-left:450px;
}

/*********************************************/
/* COLORS
/*********************************************/

.purple{color:#8604a6 !important}
.left{float:left;}
.right{float:right;}

.rightInput{
	margin-left:50px;
}

a{
    color:#949494 !important
}

/***************************************************************/
/* Alerts
/***************************************************************/  
  
.field_with_errors input{
	border-color: #B94A48 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
}


.checkbox .field_with_errors label{
	color: #B94A48 !important;
}

  
.alert {
  overflow: hidden;
  z-index: 999;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 0px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}


.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad !important;
  background-color: #d9edf7 !important;
  border-color: #bce8f1 !important;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}



#error_explanation{
  overflow: hidden;
  z-index: 999;
 
  text-align: left;
  padding: 8px 15px;
  margin-bottom: 18px;
  color: #c09853;
  font-size:13px !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;        
}

#error_explanation h2{
	text-transform:lowercase;
	font-size:13px !important;
	margin:0px 0 15px 0 !important;
	padding:0px !important;
}



@media print {
  body {
    background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link {
    display: none;
  }
}
      