.document {
 color:#fff;
 background:#cd592e !important;
}


#banner{
 margin: 15px 20px;
 background:#cd592e !important;
}

.description{
 font: normal 14px/1.4em 'Lato', sans-serif !important; 
 color:#fff;
}

h1{
margin:15px 25px 15px;padding:0px;
font: bold 48px/1em 'Lato', sans-serif;
text-transform:uppercase;

}

#calendar{margin:20px 25px; background:#cd592e;}

#calendar th{ 
  width:121px !important; 
  font: normal 12px/1em 'Lato', sans-serif !important; 
  color:#fff  !important; 
  text-align:left  !important; 
  font-weight:normal  !important; 
  text-transform:uppercase  !important; 
  }

#calendar td{ 
  width:121px  !important; 
  height:75px  !important; 
  background:#fff  !important; 
  text-align:left  !important; 
  margin:5px  !important; 
  vertical-align:top  !important;  
  padding:7px 10px  !important; 
  color:#cd592e  !important;
  font: normal 12px/1em 'Lato' !important
  }
#calendar td.off{ background:#c7c8ca  !important; color:#6d6e71  !important;}

#calendar div{ color:#6d6e71; text-align:center; font-weight:bold; max-width:111px  !important;margin-bottom:5px;}

#calendar td.offset{
  background:none;
}
